/* reset css */
* {
    /* margem */
    margin: 0;
    box-sizing: border-box;
}


/* Fundo */
body {
    background-color:

        #610505;

    /* Texto */
    color: #fff;
}

/* Seletor para os <A>*/
a {
    /* Propiedade e valor */
    text-decoration: none;     
    color: #fff;
}


/* Header */

header {
    /* ROW */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #940d0d;

    /* largura ou comprimento */
    width: 100%;
}

/* UL */
.menu {
    /* excluir sistema de lista */
    list-style: none;
    /* ESPAÇO */
    display: flex;
    /* espaço entre tags */
    gap: 1rem;
}

/* Tag nav */
.menu-desktop {
    display: none;
}

/*Daq pra frente versao mobile */
/* responsivo */
/* Serve para telas maiores */

/* telas maiores q 768px */
@media (min-width: 768px) {
    header {
        padding: 1rem 6rem ; /* espaço */
        justify-content: ;
        gap: ;
    }
    /* nav */
    .menu-desktop {
        display: flex;
    }
}
