/* reset css */
* {
    /* margem */
    margin: 0;
    box-sizing: border-box;
}


/* Fundo */
body {
    background-color:

        #610505;

    /* Texto */
    color: #fff;
}

/* Seletor para os <A>*/
a {
    /* Propiedade e valor */
    text-decoration: none;     
    color: #fff;
}


/* Header */

header {
    /* ROW */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #940d0d;

    /* largura ou comprimento */
    width: 100%;
}